.card {
	background: url('../images/bg-pattern-mobile.svg') center top no-repeat, #fff;
	border-radius: 2em;
	width: 100%;
	max-width: 920px;
	padding: 25px 25px 50px 25px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card h1 {
	text-align: center;
	font-size: 3em;
	margin-top: 0;
	color: var(--text-primary);
}

.image_container {
	width: max-content;
	margin-top: -132px;
	flex: 1;
}

.mobile_image {
	margin-left: -66px;
}

.desktop_image {
	display: none;
}

.content {
	flex: 1;
}

@media (min-width: 375px) {
	.card {
		flex-direction: row;
		padding: 77px 95px;
		background: url('../images/illustration-woman-online-desktop.svg') no-repeat,
			url('../images/bg-pattern-desktop.svg'), #fff;
	}

	.card h1 {
		text-align: left;
	}

	.mobile_image {
		display: none;
	}

	.desktop_image {
		display: block;
	}
}
