.card {
	background: url('../images/bg-pattern-mobile.svg') center top no-repeat, #fff;
	border-radius: 2em;
	width: 100%;
	max-width: 327px;
	padding: 25px 25px 50px 25px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card h1 {
	text-align: center;
	font-size: 3em;
	margin-top: 0;
	color: var(--text-primary);
}

.image_container {
	width: max-content;
	margin-top: -132px;
	flex: 1;
}

.mobile_image {
	margin-left: -66px;
}

.desktop_image {
	display: none;
}

.content {
	flex: auto;
}

@media (min-width: 645px) {
	.card {
		flex-direction: row;
		max-width: 920px;
		justify-content: space-between;
		padding: 25px;
		background: url('../images/illustration-woman-online-desktop.svg') top 40% left -80px / 60% no-repeat,
			url('../images/bg-pattern-desktop.svg') top 65% left -80px / 60% no-repeat, #fff;
	}

	.card h1 {
		text-align: left;
	}

	.mobile_image {
		display: none;
	}

	.desktop_image {
		display: block;
		position: absolute;
		left: -100px;
		animation: bounce 1.5s ease-in-out infinite alternate;
	}

	.content {
		flex: 1;
	}
}

@media (min-width: 860px) {
	.card {
		padding: 77px 95px;
		background: url('../images/illustration-woman-online-desktop.svg') top 40% left -80px no-repeat,
			url('../images/bg-pattern-desktop.svg') top 65% left -570px no-repeat, #fff;
	}
}

@keyframes bounce {
	from {
		transform: translateY(5px);
	}
	to {
		transform: translateY(-5px);
	}
}
