@import-normalize;

@font-face {
	font-family: 'Kumbh Sans';
	src: local('Kumbh Sans'), url('./fonts/Kumbh_Sans/KumbhSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kumbh Sans';
	src: local('Kumbh Sans'), url('./fonts//Kumbh_Sans/KumbhSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--text-primary: hsl(238, 29%, 16%);
	--text-primary-active: hsl(14, 88%, 65%);
	--text-neutral: hsl(237, 12%, 33%);
	--text-neutral-secondary: hsl(240, 6%, 50%);

	--divider: hsl(240, 5%, 91%);

	--gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

body {
	font-family: 'Kumbh Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
}
